/*HEADER*/
header{
    width: 100%;
    height: 50px;
}

.header_container{
    width: 100%;
    height: 50px;
    background-color: #343434;
}

    .header_inner_container{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .header_inner_container p{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: #FAED00;
        }

        .header_left{
            margin-left: 10px;
        }

        .header_right{
            margin-right: 10px;
        }

/*DESKTOP*/
@media(min-width: 768px){
    .header_inner_container{
        max-width: 1280px;
        justify-content: start;
    }

        .header_right{
            margin-right: 0px;
            margin-left: 20px;
        }
}

/*SE or 13MINI*/
@media(max-width: 350px){
    .header_inner_container p{
        font-size: 16px;
    }
}

/*MAIN PART*/
/*FIRST VIEW*/
.firstView{
    width: 100%;
    height: 550px;
}

.firstView_container{
    width: 100%;
    height: 550px;
    background-image: url(../img/firstView_image_w768_h550.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

    .firstView_inner_container{
        width: 350px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

        .firstView_inner_container h1{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            color: #fcfcfc;
            text-shadow: 4px 4px 4px #343434;
            line-height: 2rem;
            position: absolute;
            top: 30px;
        }

        .firstView_inner_container h2{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            color: #000000;
            text-shadow: 1px 1px 2px #fcfcfc;
            line-height: 2rem;
            position: absolute;
            top: 327px;
            text-align: center;
        }

        .product_name{
            width: 330px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 395px;
            display: grid;
            place-items: center;
        }

            .product_name p{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #FAED00;
            }

        .cta_button{
            width: 300px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            background: linear-gradient(to bottom, #343434 0%, #CCAC00 40%, #CCAC00 60%, #343434 100%);
            position: absolute;
            top: 470px;
            display: grid;
            place-items: center;
        }

            .cta_button p{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #f4f4f4;
            }

        .firstView_inner_container h3{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            color: #ffffff;
            position: relative;
            top: -225px;
            left: 125px;
        }

        @media(min-width: 768px){
            .firstView_container{
                background-image: url(../img/firstView_image_w1280_h550.jpg);
            }
    
            .firstView_inner_container{
                width: 768px;
                align-items: start;
            }

            .firstView_inner_container h1{
                font-size: 40px;
                line-height: 3rem;
                top: 50px;
            }

            .firstView_inner_container h2{
                font-size: 32px;
                text-align: start;
                top: 157px;
                text-shadow: 3px 3px 4px #fcfcfc;
                line-height: 3rem;
            }

            .product_name{
                top: 327px;
                margin-left: 0px;
                width: 362px;
            }

            .product_name p{
                font-size: 24px;
            }

            .cta_button{
                top: 427px;
                margin-left: 0px;
                width: 350px;
            }

            .cta_button p{
                font-size: 20px;
            }

            .firstView_inner_container h3{
                top: 10px;
                left: 448px;
                font-size: 20px;
            }
        }



/*FOR SE or 13MINI*/
@media(max-width: 350px){
.firstView_inner_container{
    width: 300px;
}

    .firstView_inner_container h1{
        font-size: 20px;
    }

    .product_name{
        width: 300px;
    }

    .firstView_inner_container h3{
        left: 70px;
    }
}

/*FEATURE -MOBILE-*/
.feature_outer_container{
    width: 100%;
    height: auto;
    position: relative;
}

    .feature_container{
        width: 100%;
        height: 570px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 100;
    }

        .feature_title_container{
            width: 352px;
            height: 64px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px; 
        }

            .feature_title_container h2{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 22px;
            }

        .feature_text_container{
            width: 340px;
            height: 400px;
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
        }

            .feature_text_container p{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                line-height: 1.5rem;
            }

            .feature_text_container p:not(:first-child){
                margin-top: 20px;
            }

    .feature_background{
        width: 100%;
        height: 570px;
        content: "";
        background-image: url(../img/feature_background_w1000_h571.jpeg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        left: 0px;
        /*z-index: 0;*/
        opacity: 0.5;
    }

/*FEATURE -DESKTOP-*/
@media(min-width: 768px){
    .feature_title_container{
        width: auto;
        margin-top: 100px;
        flex-direction: row;
    }

    .feature_title_container h2{
        font-size: 26px;
    }

    .feature_text_container{
        width: 768px;
        height: 300px;
    }

    .feature_text_container p{
        font-size: 22px;
        line-height: 1.8rem;
    }
}

/*FEATURE -SE or 13MINI-*/
@media(max-width: 350px){
    .feature_title_container{
        width: 300px;
    }

    .feature_title_container h2{
        font-size: 18px;
    }

    .feature_text_container{
        width: 300px;
    }

    .feature_text_container p{
        font-size: 14px;
    }
}

/*EMPATHY -MOBILE-*/
.empathy{
    width: 100%;
    height: 820px;
}

    .empathy_container{
        width: 100%;
        height: 820px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
   }

        .empathy_image_container{
            width: 350px;
            height: 350px;
            background-image: url(../img/empathy_w384_h384.jpg);
            background-position: center;
            background-size: cover;
        }

            .empathy_image_container h2{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #fcfcfc;
                text-align: center;
                margin-top: 50px;
            }

        .empathy_text_container{
            width: 350px;
            height: 350px;
            background-image: url(../img/frame_empathy.jpg);
            background-size: cover;
            background-position: center;
            display: grid;
            place-items: center;
        }

            .empathy_text_inner_container{
                width: 260px;
                height: 247px;
                display: grid;
                place-items: center;
            }

                .empathy_text_inner_container ul li{
                    font-family: "Zen Maru Gothic", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 10px;
                }

/*EMPATHY -DESKTOP-*/
@media(min-width: 768px){
    .empathy{
        height: auto;
    }

    .empathy_container{
        flex-direction: row;
        align-items: start;
        height: auto;
        margin-top: 50px;
    }

    .empathy_image_container, .empathy_text_container{
        width: 380px;
        height: 380px;
    }

    .empathy_image_container h2{
        font-size: 22px;
    }

    .empathy_text_inner_container{
        width: 290px;
        height: 280px;
    }

    .empathy_text_inner_container ul li{
        font-size: 18px;
    }
    }

/*EMPATHY -SE or 13MINI-*/
@media(max-width: 350px){
    .empathy_image_container{
        width: 300px;
    }

    .empathy_image_container h2{
        font-size: 18px;
    }

    .empathy_text_container{
        width: 300px;
    }
}

/*SOLUTION -MOBILE-*/
.solution_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEECD2;
}

    .solution_heading_container{
        width: 357px;
        height: 64px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

        .solution_heading_container h2{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
        }

    .solution_overview_container{
        width: 330px;
        height: 130px;
        margin-top: 20px;
        background-color: #fcfcfc;
    }

        .solution_overview_inner_container{
            width: 330px;
            height: 55px;
        }

            .solution_overview_inner_container p{
                font-family: "Shippori Mincho", serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                margin-top: 10px;
                margin-left: 5px;
            }

    .solution_attention_container{
        width: 330px;
        height: 69px;
    }

        .solution_attention_container p{
            font-family: "Shippori Mincho", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 1.5rem;
        }

/*SOLUTION -SE or 13MINI-*/
@media(max-width: 300px){
    .solution_attention_container p{
        font-size: 14px;
    }

    .solution_attention_container{
        width: 300px;
    }

    .solution_overview_inner_container p{
        font-size: 14px;
    }

    .solution_overview_inner_container{
        width: 300px;
    }
    
    .solution_overview_container{
        width: 300px;
    }
    
    .solution_heading_container h2{
        font-size: 16px;
    }
    
    .solution_heading_container{
        width: 300px;
    }
}

/*SOLUTION -DESKTOP-*/
@media(min-width: 768px){
    .solution_attention_container{
        width: 768px;
    }

    .solution_heading_container{
        flex-direction: row;
        gap: 0;
        width: 768px;
    }

    .solution_heading_container h2{
        font-size: 22px;
    }

    .solution_overview_container{
        width: 768px;
        height: 80px;
        display: flex;
        justify-content: center;
    }

    .solution_overview_inner_container{
        width: 384px;
        height: 65px;
    }

    .solution_overview_inner_container p{
        font-size: 18px;
    }
}

    .solution_course_container{
        width: 350px;
        height: 712px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .course_first{
        margin-top: 27px;
    }

        .solution_course_image_container{
            width: 350px;
            height: 350px;
            display: grid;
            place-items: center;
        }

            .solution_course_image_container p{
                font-family: "Shippori Mincho", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 16px;
                color: #fcfcfc;
            }

        .course_first_image, .course_second_image, .course_third_image, .course_forth_image{
            background-image: url(../img/solution.jpg);
            background-size: cover;
            background-position: center;
        }

        .course_second_image{
            background-image: url(../img/solution_2.jpg);
        }

        .course_third_image{
            background-image: url(../img/solution_3.jpg);
        }

        .course_forth_image{
            background-image: url(../img/solution_4.jpg);
        }

        .solution_course_text_container{
            width: 350px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .solution_course_text_container h3{
                font-family: "Shippori Mincho", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 16px;
                margin-top: 20px;
                text-align: center;
                margin-bottom: 20px;
            }

            .solution_course_text_inner_container{
                width: 330px;
                height: auto;
                display: flex;
            }

                .solution_course_text_inner_container p{
                    font-family: "Shippori Mincho", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 1.5rem;
                }

                .course_text_left{
                    width: 70px;
                }

                .course_text_right{
                    width: 260px;
                }

                .solution_course_text_inner_container:not(:first-child){
                    margin-top: 10px;
                }

/*SOLUTION -DESKTOP-*/
@media(min-width: 768px){
    .solution_container{
        height: auto;
    }

    .solution_course_container{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        width: 768px;
        height: 350px;
    }

    .course_first, .course_third{
        flex-direction: row-reverse;
    }

    .solution_course_image_container, .solution_course_text_container{
        width: 374px;
    }
}

/*SOLUTION -SE and 13MINI-*/
@media(max-width: 350px){
    .course_text_right{
        width: 240px;
    }

    .course_text_left{
        width: 60px;
    }

    .solution_course_text_inner_container p{
        font-size: 14px;
    }

    .solution_course_text_inner_container{
        width: 300px;
    }

    .solution_course_text_container{
        width: 300px;
    }

    .solution_course_image_container{
        width: 300px;
    }

    .solution_course_container{
        width: 300px;
    }
}

/*COMPARE -MOBILE-*/
.compare_container{
    width: 100%;
    height: auto;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /*HEADING*/
    .compare_heading_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .compare_heading_backgroundImage_container{
            width: 100%;
            height: 100px;
            margin-top: 50px;
            background-image: url(../img/profile_back.jpg);
            background-size: cover;
            background-position: left;
        }

        .compare_heading_text_container{
            width: 350px;
            height: 50px;
            position: relative;
        }

            .compare_heading_text_container h2, .compare_heading_text_container p{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 16px;
                color: #fcfcfc;
                margin-top: 5px;
                text-align: right;
            }

            .compare_heading_text_container p{
                font-weight: 400;
            }

            .compare_heading_text_container img{
                width: 100px;
                height: 100px;
                position: absolute;
                top: -50px;
            }

/*COMPARE HEADING -SEand13mini-*/
@media(max-width: 300px){
    .compare_heading_text_container img{
        width: 80px;
        height: 80px;
        top: -40px;
        margin-left: 10px;
    }

    .compare_heading_text_container h2, .compare_heading_text_container p{
        font-size: 14px;
    }

    .compare_heading_text_container{
        width: 300px;
    }
}

/*COMPARE HEADING -DESKTOP-*/
@media(min-width: 768px){
    .compare_heading_backgroundImage_container{
        max-width: 1280px;
        height: 200px;
    }

    .compare_heading_text_container{
        width: 768px;
        height: 100px;
    }

    .compare_heading_text_container h2, .compare_heading_text_container p{
        font-size: 24px;
    }

    .compare_heading_text_container img{
        width: 200px;
        height: 200px;
        top: -100px;
        left: 20px;
    }
}

    /*CONTENTS*/
    .compare_contents_container{
        width: 350px;
        height: auto;
        margin-top: 30px;
    }

        .compare_contents_inner_container{
            width: 350px;
            height: 450px;
            position: relative;
        }

            .compare_contents_inner_card_container{
                width: 350px;
                height: 200px;
                background-color: #fcfcfc;
                border-radius: 10px;
            }

                .compare_contents_inner_card_container h3{
                    font-family: "Noto Serif JP", serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 16px;
                    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                }
            
            .compare_contents_inner_card_container_overlay{
                width: 340px;
                height: 170px;
                background-color: rgba(254, 236, 210, 0.5);
                position: absolute;
                top: 40px;
                left: 15px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

                .compare_contents_inner_card_container_overlay p{
                    font-family: "Noto Serif JP", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 1.5rem;
                    margin-top: 10px;
                    margin-left: 10px;
                }
            
            .compare_card_second{
                margin-top: 20px;
            }

                .compare_card_overlay_second{
                    top: 260px;
                }

/*COMPARE CONTENTS -SEand13mini-*/
@media(max-width: 350px){
    .compare_contents_inner_card_container_overlay p{
        font-size: 14px;
        line-height: 1.3rem;
    }

    .compare_contents_inner_card_container_overlay{
        width: 285px;
    }
    
    .compare_contents_inner_card_container{
        width: 300px;
    }

    .compare_contents_inner_container{
        width: 300px;
    }

    .compare_contents_container{
        width: 300px;
    }
}

/*COMPARE CONTENTS DESKTOP*/
@media(min-width: 768px){
    .compare_contents_container{
        width: 768px;
        display: flex;
        gap: 20px;
    }

    .compare_contents_inner_container{
        width: 374px;
    }

    .compare_contents_inner_card_container{
        width: 364px;
    }

    .compare_contents_inner_card_container_overlay{
        width: 360px;
    }
}

/*CONFIDENCE -MOBILE-*/
.confidence_container{
    width: 100%;
    height: 475px;
    display: grid;
    place-items: center;
    background-color: #343434;
}

    .confidence_inner_container{
        width: 375px;
        height: 375px;
        background-image: url(../img/customer_voice_for_salondearisa_w375_h375.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .confidence_inner_container h2{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            margin-top: 50px;
        }

        .confidence_inner_container p{
            width: 270px;
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            margin-top: 15px;
            line-height: 1.2rem;
        }

/*CONFIDENCE -DESKTOP-*/
@media(min-width: 768px){
    .confidence_inner_container p{
        font-size: 18px;
    }

    .confidence_inner_container h2{
        font-size: 24px;
    }

    .confidence_inner_container{
        width: 768px;
        background-image: url(../img/customer_voice_for_salondearisa_w1280_h350.jpg);
    }
}

/*CONFIDENCE -SEand13mini-*/
@media(max-width: 350px){
    .confidence_inner_container{
        width: 300px;
    }
}